#thanks {
    margin-top: 300px;
    text-align: center;
    background-color: rgba(240, 9, 240, 0.5);
    margin-right: 300px;
    margin-left: 320px;
    height: 50px;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 15px;

}

body {
    background: linear-gradient(
        90deg,
        rgb(137, 43, 226) ,
        rgba(134, 85, 180, 0.701) 
    );
}